container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  background-color: #F7F7F7;
}
section .create {
  display: grid;
  padding: 0 35px;
  background-color: #FFF;
  width: 100%;
  max-width: 570px;
  height: 100%;
  max-height: 590px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 67px) 92px auto 67px auto;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
  grid-template-areas: "head head" "first last" "email email" "gender gender" "country city" "accept accept";
}
section .create h4 {
  grid-area: head;
  color: #1C1C1C;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
section .create .first_name {
  grid-area: first;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 7px;
  width: 100%;
}
section .create .first_name span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .create .first_name input {
  height: 100%;
  max-height: 38px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
section .create .last_name {
  grid-area: last;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 7px;
  width: 100%;
}
section .create .last_name span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .create .last_name input {
  height: 100%;
  max-height: 38px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
section .create .email {
  grid-area: email;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 7px;
}
section .create .email span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .create .email input {
  height: 100%;
  max-height: 67px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
section .create .email p {
  color: #969696;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
  margin: 0;
}
section .create .gender {
  grid-area: gender;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
section .create .gender input {
  margin-right: 8px;
}
section .create .gender span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .create .country {
  grid-area: country;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 7px;
  width: 100%;
}
section .create .country span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .create .country select {
  height: 100%;
  max-height: 38px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
section .create .city {
  grid-area: city;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 7px;
  width: 100%;
}
section .create .city span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .create .city input {
  height: 100%;
  max-height: 38px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
section .create .accept {
  grid-area: accept;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
section .create .accept button {
  width: 100%;
  height: 38px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-color: #007BFF;
  border: unset;
  border-radius: 5px;
}
section .create .accept .info {
  width: 100%;
  max-width: 410px;
  height: 38px;
  color: #969696;
  text-align: center;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
}
section .create .accept .info a {
  color: #007BFF;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
  text-decoration: none;
}
section .create .accept .other {
  border-top: 1px solid #E4E4E4;
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
section .create .accept .other .question {
  color: #545454;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .create .accept .other .question a {
  color: #007BFF;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
  text-decoration: none;
  margin-left: 20px;
}
section .profile {
  display: grid;
  padding: 0 35px;
  background-color: #FFF;
  width: 100%;
  max-width: 570px;
  height: 100%;
  max-height: 590px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 67px) 162px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
  grid-template-areas: "head head" "photo photo" "name email" "country city" "zip phone" "button button";
}
section .profile h4 {
  grid-area: head;
  color: #1C1C1C;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
section .profile .photo {
  grid-area: photo;
  display: grid;
  grid-template-columns: 80px 141px 30px;
  grid-template-rows: repeat(2, 40px);
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 9px;
  grid-template-areas: "img camera reset" "img paragraph paragraph";
}
section .profile .photo img {
  grid-area: img;
}
section .profile .photo .camera {
  grid-area: camera;
  position: relative;
  align-self: self-end;
  height: 100%;
  max-height: 30px;
}
section .profile .photo .camera input {
  width: 100%;
  max-width: 138px;
  height: 100%;
  max-height: 30px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  position: relative;
}
section .profile .photo .camera svg {
  position: absolute;
  top: 7px;
  right: 8px;
}
section .profile .photo p {
  grid-area: paragraph;
  align-self: self-start;
  margin: 0;
  width: 100%;
  max-width: 141px;
  color: #969696;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
}
section .profile .photo .reset {
  grid-area: reset;
  width: 16px;
  height: 16px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  align-self: self-end;
  padding: 6px;
  box-sizing: content-box;
}
section .profile .name {
  grid-area: name;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 7px;
}
section .profile .name span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .profile .name input {
  height: 100%;
  max-height: 38px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
section .profile .email {
  grid-area: email;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 7px;
}
section .profile .email span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .profile .email input {
  height: 100%;
  max-height: 38px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
section .profile .country {
  grid-area: country;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 7px;
}
section .profile .country span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .profile .country select {
  height: 100%;
  max-height: 38px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
section .profile .city {
  grid-area: city;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 7px;
}
section .profile .city span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .profile .city input {
  height: 100%;
  max-height: 38px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
section .profile .zip {
  grid-area: zip;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 7px;
}
section .profile .zip span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .profile .zip input {
  height: 100%;
  max-height: 38px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
section .profile .phone {
  grid-area: phone;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 7px;
}
section .profile .phone span {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
section .profile .phone input {
  height: 100%;
  max-height: 38px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
section .profile button {
  grid-area: button;
  width: 100%;
  max-width: 150px;
  height: 38px;
  align-self: flex-start;
  color: #FFFFFF;
  background-color: #007BFF;
  border: unset;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
}