form {
    display: flex;
    flex-direction: column;   
    gap: 13px;
}
form span {
    width: 70px;
    display: block;
    float: left;
}
div {
    display: flex;
    gap: 10px;
}
.button {
    display: flex;
    width: 300px;
}
