.newsItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "link link link";
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 0 50px;
  box-sizing: border-box;
  margin-top: 100px;
}
.newsItems .newsItem {
  background-color: white;
}
.newsItems .newsItem .link {
  grid-area: link;
  width: 100%;
  max-height: 100 .newsItems .newsItem .link;
  text-decoration: none;
}
.newsItems .newsItem .link .img-wrapper {
  height: 200px;
}
.newsItems .newsItem .link .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newsItems .newsItem .link h2 {
  text-align: center;
  color: black;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}