footer {
  min-height: 300px;
  background-color: #fff;
  padding-top: 100px;
}
footer .socials {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .socials .socials_links {
  padding: 24px 0;
}
footer .socials .socials_links a svg path:nth-child(1) {
  stroke: red;
}
footer .socials .socials_links a svg path:nth-child(2) {
  fill: red;
}
footer .copyRight {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e90606;
}
footer .copyRight p {
  color: white;
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 20px;
  padding: 50px 16px;
  box-sizing: border-box;
  text-align: center;
}