.topHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". logo actions";
  width: 100%;
  max-width: 100%;
  height: 56px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}
.topHeader .logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
}
.topHeader .actions {
  grid-area: actions;
  align-self: center;
  justify-self: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.topHeader .actions .signIn {
  background: none;
  border: none;
  color: #e90606;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 14px;
  text-transform: uppercase;
  height: 36px;
  letter-spacing: 1px;
  padding: 8px 24px;
}
.topHeader .actions .subscribe {
  background-color: #e90606;
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: unset;
  border-radius: 3px;
  height: 36px;
  letter-spacing: 1px;
  padding: 8px 24px;
  box-sizing: border-box;
}

.mainMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". nav svg";
  width: 100%;
  max-width: 100%;
  height: 56px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}
.mainMenu .navigation {
  grid-area: nav;
  justify-self: center;
  align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainMenu .navigation ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.mainMenu .navigation ul li a {
  text-decoration: none;
  color: #e90606;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.mainMenu .navigation ul li a:after {
  content: "";
  display: block;
  border-right: 2px solid #e90606;
  margin-left: 10px;
}
.mainMenu .navigation ul li a.active {
  color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainMenu .navigation ul li a.active:after {
  border-radius: 50%;
  background-color: black;
  width: 5px;
  height: 5px;
}
.mainMenu svg {
  grid-area: svg;
  justify-self: flex-end;
  align-self: center;
}

header {
  background-color: white;
  border-bottom: 3px solid darkgray;
}