.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

header {
  height: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header p {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 8px;
}

main .first_screen h3 {
  color: #000;
  font-family: "Red Hat Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 2.4px;
  margin-bottom: 70px;
}
main .first_screen img {
  width: 100%;
  object-fit: cover;
}
main .description {
  margin-top: 90px;
}
main .description h4 {
  color: #000;
  font-family: "Red Hat Display";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 2.8px;
  margin-bottom: 50px;
}
main .description p {
  color: #565656;
  font-family: Lato;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.95px;
  max-width: 570px;
}
main .first_section {
  margin-top: 90px;
}
main .first_section h4 {
  color: #000;
  font-family: "Red Hat Display";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 2.8px;
  margin-bottom: 50px;
}
main .first_section img {
  width: 100%;
  object-fit: cover;
}
main .first_section p {
  color: #565656;
  font-family: Lato;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.95px;
  margin-top: 20px;
}
main .second_section {
  margin-top: 90px;
}
main .second_section h4 {
  color: #000;
  font-family: "Red Hat Display";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 2.8px;
  margin-bottom: 50px;
}
main .second_section img {
  width: 100%;
  object-fit: cover;
}
main .second_section p {
  color: #565656;
  font-family: Lato;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.95px;
  margin-top: 20px;
}
main .third_section {
  margin-top: 90px;
}
main .third_section h4 {
  color: #000;
  font-family: "Red Hat Display";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 2.8px;
  margin-bottom: 50px;
}
main .third_section img {
  width: 100%;
  object-fit: cover;
}
main .third_section p {
  color: #565656;
  font-family: Lato;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.95px;
  margin-top: 20px;
}

footer {
  background-color: #F4F4F4;
  margin-top: 90px;
  height: 300px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer {
  background-color: #F4F4F4;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer .contacts h2 {
  color: #000;
  font-family: "Red Hat Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.4px;
  margin-bottom: 30px;
}
footer .footer .contacts p {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.6px;
}
footer .footer .contacts a {
  color: black;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.6px;
  text-decoration: none;
}
footer .footer .links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 270px;
  height: 50px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}
footer .footer .links a {
  text-decoration: none;
  color: #565656;
  padding: 10px;
  border: 1px solid #565656;
  box-sizing: content-box;
}
footer .footer .links a:hover {
  background-color: #565656;
  color: white;
}
footer .footer .copyright {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  text-align: center;
  color: #000;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  main .first_screen img {
    height: 300px;
  }
  main .first_section img {
    height: 300px;
  }
  main .second_section img {
    height: 300px;
  }
  main .third_section img {
    height: 300px;
  }
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: content-box;
  }
  footer .footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "contacts" "links" "copy";
  }
  footer .footer .contacts {
    grid-area: contacts;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer .contacts h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: normal;
    letter-spacing: 1.6px;
  }
  footer .footer .contacts p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%;
    letter-spacing: 1.8px;
  }
  footer .footer .contacts a {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%;
    letter-spacing: 1.8px;
  }
  footer .footer .links {
    grid-area: links;
    width: 100%;
    max-width: 300px;
    justify-self: center;
    margin: 40px auto;
  }
  footer .footer .copyright {
    grid-area: copy;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%;
    letter-spacing: 1.6px;
  }
}
@media (min-width: 768px) {
  main .first_screen img {
    height: 380px;
  }
  main .first_section img {
    height: 380px;
  }
  main .second_section img {
    height: 380px;
  }
  main .third_section img {
    height: 380px;
  }
}
@media (min-width: 1170px) {
  main .first_screen img {
    height: 500px;
  }
  main .first_section img {
    height: 500px;
  }
  main .second_section img {
    height: 500px;
  }
  main .third_section img {
    height: 500px;
  }
}