@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/source-sans-pro.regular.ttf);
  font-weight: 400;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.container-swiper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.first_screen {
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.first_screen .section-header {
  padding-top: 54px;
  width: 100%;
}
.first_screen .section-header.fixed {
  background-image: url(../images/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.first_screen .section-header header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first_screen .section-header header nav {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.first_screen .section-header header nav ul li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 93px;
}
.first_screen .section-header header nav ul li a {
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.first_screen .section-header header nav ul li a:before {
  content: "";
  display: block;
  height: 9px;
  width: 9px;
  border: #FFF 1px solid;
  border-radius: 50%;
  margin-right: 14px;
}
.first_screen .section-header header .socials {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.first_screen .section-header header .socials .icon-facebook-f {
  color: #FFF;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 11px 15px;
  box-sizing: content-box;
  text-decoration: none;
}
.first_screen .section-header header .socials .icon-twitter {
  color: #FFF;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 11px 12px;
  box-sizing: content-box;
  text-decoration: none;
}
.first_screen .section-header header .socials .icon-instagram {
  color: #FFF;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 11px 13px;
  box-sizing: content-box;
  text-decoration: none;
}
.first_screen .section-header header .burger {
  visibility: hidden;
}
.first_screen .first_screen_slider .first_screen_slider_wrapper {
  height: 619px;
}
.first_screen .first_screen_slider .first_screen_slider_wrapper.responsive {
  height: 319px;
}
.first_screen .first_screen_slider .first_screen_slider_wrapper .first_screen_slider_slide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.first_screen .first_screen_slider .first_screen_slider_wrapper .first_screen_slider_slide h2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
}
.first_screen .first_screen_slider .first_screen_slider_wrapper .first_screen_slider_slide p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.4px;
  margin-top: 20px;
}
.first_screen .first_screen_slider .first_screen_slider_pagination {
  width: auto;
  height: 10px;
  position: absolute;
  top: 27.7%;
  left: 96%;
}
.first_screen .first_screen_slider .first_screen_slider_pagination .swiper-pagination-bullet {
  margin-top: 40px;
  border: 1px solid white;
  background-color: unset;
  opacity: 1;
}
.first_screen .first_screen_slider .first_screen_slider_pagination .swiper-pagination-bullet-active {
  background: white;
}
.first_screen .first_screen_slider .first_screen_slider_next {
  color: #FFF;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 90%;
  left: 49%;
}
.first_screen .first_screen_slider .first_screen_slider_next:after {
  font-size: 15px;
  rotate: 90deg;
}

.project {
  padding-top: 100px;
}
.project .heading {
  color: #2C4058;
  text-align: center;
  font-family: "Montserrat";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.project .heading:before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  margin-bottom: 20px;
}
.project .section1 {
  margin-top: 90px;
  position: relative;
}
.project .section1 .background-s1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  max-width: 585px;
  max-height: 470px;
}
.project .section1 .wrapper-s1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project .section1 .wrapper-s1 .city-s1 {
  margin-top: 57px;
  width: 100%;
  max-width: 630px;
  max-height: 470px;
  object-fit: cover;
}
.project .section1 .wrapper-s1 .info-s1 {
  margin-top: 151px;
  margin-left: 70px;
}
.project .section1 .wrapper-s1 .info-s1 h4 {
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.project .section1 .wrapper-s1 .info-s1 h2 {
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.project .section1 .wrapper-s1 .info-s1 p {
  color: #2C4058;
  font-family: "OpenSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 19px;
}
.project .section1 .wrapper-s1 .info-s1 .more {
  display: none;
}
.project .section1 .wrapper-s1 .info-s1 .more.visible {
  display: block;
  color: #2C4058;
  font-family: "OpenSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.project .section1 .wrapper-s1 .info-s1 .details {
  color: #000;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px 41px;
  box-sizing: content-box;
  border: 1px solid #2C4058;
  background: none;
  margin-top: 40px;
}
.project .section1 .wrapper-s1 .info-s1 .location {
  color: #000;
  font-family: "OpenSans";
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  margin-top: 60px;
}
.project .section1 .wrapper-s1 .info-s1 .location svg {
  width: 9px;
  height: 17px;
}
.project .section2 {
  margin-top: 126px;
  position: relative;
}
.project .section2 .background-s2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  max-width: 585px;
  max-height: 470px;
}
.project .section2 .wrapper-s2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.project .section2 .wrapper-s2 .city-s2 {
  margin-top: 57px;
  width: 100%;
  max-width: 630px;
  max-height: 470px;
  object-fit: cover;
}
.project .section2 .wrapper-s2 .info-s2 {
  margin-top: 151px;
  margin-right: 64px;
}
.project .section2 .wrapper-s2 .info-s2 h4 {
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.project .section2 .wrapper-s2 .info-s2 h2 {
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.project .section2 .wrapper-s2 .info-s2 p {
  color: #2C4058;
  font-family: "OpenSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 19px;
}
.project .section2 .wrapper-s2 .info-s2 .more {
  display: none;
}
.project .section2 .wrapper-s2 .info-s2 .more.visible {
  display: block;
  color: #2C4058;
  font-family: "OpenSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.project .section2 .wrapper-s2 .info-s2 .details {
  color: #000;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px 41px;
  box-sizing: content-box;
  border: 1px solid #2C4058;
  background: none;
  margin-top: 40px;
}
.project .section2 .wrapper-s2 .info-s2 .location {
  color: #000;
  font-family: "OpenSans";
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  margin-top: 60px;
}
.project .section2 .wrapper-s2 .info-s2 .location svg {
  width: 9px;
  height: 17px;
}

.news {
  background: url(../images/background.png);
  background-size: 100%;
  padding: 120px 0;
  height: auto;
  margin-top: 150px;
}
.news .news-section .news-heading {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}
.news .news-section .news-heading:before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #FFF;
  margin-bottom: 30px;
}
.news .news-section .slider {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 564px;
}
.news .news-section .slider .news-slider {
  max-width: 1170px;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide1 {
  width: 370px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFF;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide1 .content img {
  object-fit: cover;
  width: 100%;
  height: 240px;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide1 .content .text {
  padding: 30px 20px 39px 20px;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide1 .content .text h3 {
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide1 .content .text p {
  color: #2C4058;
  font-family: "OpenSans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide1 .content .author {
  display: grid;
  margin: 0 auto 30px 30px;
  grid-template-rows: repeat(2, 30px);
  grid-template-columns: 60px 108px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  grid-template-areas: "icon name" "icon date";
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide1 .content .author .icon {
  grid-area: icon;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide1 .content .author .name {
  grid-area: name;
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide1 .content .author .date {
  grid-area: date;
  color: #55B7FF;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide2, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide3, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide4, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide5, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide6 {
  width: 370px;
  height: 514px;
  background-color: #FFF;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide2 .content img, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide3 .content img, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide4 .content img, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide5 .content img, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide6 .content img {
  object-fit: cover;
  width: 100%;
  height: 240px;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide2 .content .text, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide3 .content .text, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide4 .content .text, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide5 .content .text, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide6 .content .text {
  padding: 30px 20px 39px 20px;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide2 .content .text h3, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide3 .content .text h3, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide4 .content .text h3, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide5 .content .text h3, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide6 .content .text h3 {
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide2 .content .text p, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide3 .content .text p, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide4 .content .text p, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide5 .content .text p, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide6 .content .text p {
  color: #2C4058;
  font-family: "OpenSans";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide2 .content .author, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide3 .content .author, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide4 .content .author, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide5 .content .author, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide6 .content .author {
  display: grid;
  margin: 0 auto 30px 30px;
  grid-template-rows: repeat(2, 30px);
  grid-template-columns: 60px 250px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  grid-template-areas: "icon name" "icon date";
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide2 .content .author .icon, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide3 .content .author .icon, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide4 .content .author .icon, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide5 .content .author .icon, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide6 .content .author .icon {
  grid-area: icon;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide2 .content .author .name, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide3 .content .author .name, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide4 .content .author .name, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide5 .content .author .name, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide6 .content .author .name {
  grid-area: name;
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide2 .content .author .date, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide3 .content .author .date, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide4 .content .author .date, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide5 .content .author .date, .news .news-section .slider .news-slider .news-slider-wrapper .news-slider-slide6 .content .author .date {
  grid-area: date;
  color: #55B7FF;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.news .news-section .slider .news-slider-pagination {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}
.news .news-section .slider .news-slider-pagination .swiper-pagination-bullet {
  margin-left: 40px;
  border: 1px solid white;
  background-color: unset;
  opacity: 1;
}
.news .news-section .slider .news-slider-pagination .swiper-pagination-bullet-active {
  background: white;
}
.news .news-section .slider .news-slider-next, .news .news-section .slider .news-slider-prev {
  color: #FFF;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news .news-section .slider .news-slider-next:after, .news .news-section .slider .news-slider-prev:after {
  font-size: 15px;
}

.gallery {
  padding-top: 150px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery .gallery-heading {
  color: #2C4058;
  text-align: center;
  font-family: "Montserrat";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery .gallery-heading:before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  margin-bottom: 20px;
}
.gallery .pictures {
  margin-top: 50px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 214px);
  gap: 10px;
  grid-template-areas: "it-1 it-1 it-2 it-3" "it-1 it-1 it-4 it-5";
}
.gallery .pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .pictures img:nth-child(1) {
  grid-area: it-1;
}
.gallery .pictures img:nth-child(2) {
  grid-area: it-2;
}
.gallery .pictures img:nth-child(3) {
  grid-area: it-3;
}
.gallery .pictures img:nth-child(4) {
  grid-area: it-4;
}
.gallery .pictures img:nth-child(5) {
  grid-area: it-5;
}
.gallery .more_pics {
  display: none;
  margin-top: 50px;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 214px);
  gap: 10px;
  grid-template-areas: "it-1 it-1 it-2 it-3" "it-1 it-1 it-4 it-5";
}
.gallery .more_pics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .more_pics img:nth-child(1) {
  grid-area: it-1;
}
.gallery .more_pics img:nth-child(2) {
  grid-area: it-2;
}
.gallery .more_pics img:nth-child(3) {
  grid-area: it-3;
}
.gallery .more_pics img:nth-child(4) {
  grid-area: it-4;
}
.gallery .more_pics img:nth-child(5) {
  grid-area: it-5;
}
.gallery .more_pics.visible {
  display: grid;
}
.gallery button {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #2C4058;
  background: none;
  padding: 17px 57px;
  box-sizing: content-box;
  margin-top: 60px;
}

.contact {
  margin-top: 150px;
  position: relative;
}
.contact .location {
  width: 100%;
  min-height: 700px;
}
.contact .get-in-touch {
  position: absolute;
  z-index: 99;
  bottom: -349px;
  left: 50%;
  max-width: 770px;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  min-height: 450px;
  background-color: #FFF;
  padding: 60px 60px 68px 60px;
  box-sizing: border-box;
}
.contact .get-in-touch h2 {
  color: #2C4058;
  text-align: center;
  font-family: "Montserrat";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .get-in-touch h2:before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  margin-bottom: 20px;
}
.contact .get-in-touch .contacts-wrapper {
  margin-top: 42px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.contact .get-in-touch .contacts-wrapper .contacts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 286px;
  width: 100%;
  min-height: 196px;
}
.contact .get-in-touch .contacts-wrapper .contacts p {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.contact .get-in-touch .contacts-wrapper form {
  max-width: 310px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .get-in-touch .contacts-wrapper form label {
  height: 48px;
  width: 100%;
}
.contact .get-in-touch .contacts-wrapper form label input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid rgba(44, 64, 88, 0.5);
}
.contact .get-in-touch .contacts-wrapper form label input::-webkit-input-placeholder {
  color: rgba(75, 85, 98, 0.5);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.contact .get-in-touch .contacts-wrapper form label input::-moz-placeholder {
  color: rgba(75, 85, 98, 0.5);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.contact .get-in-touch .contacts-wrapper form label input:-ms-input-placeholder {
  color: rgba(75, 85, 98, 0.5);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.contact .get-in-touch .contacts-wrapper form label input::placeholder {
  color: rgba(75, 85, 98, 0.5);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.contact .get-in-touch .contacts-wrapper form label input:focus {
  outline: none;
  border-bottom: 2px solid rgb(44, 64, 88);
}
.contact .get-in-touch .contacts-wrapper form button {
  width: 140px;
  height: 50px;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding: 11px 34px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  background: none;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

footer {
  background: url(../images/footer.png);
  background-size: cover;
  width: 100%;
  height: 549px;
  padding-top: 149px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .links {
  margin-top: 49px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 770px;
}
footer .links .left p {
  margin-top: 53px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .links .socials {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
footer .links .socials .icon-facebook-f {
  color: #FFF;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 11px 15px;
  box-sizing: content-box;
  text-decoration: none;
}
footer .links .socials .icon-twitter {
  color: #FFF;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 11px 12px;
  box-sizing: content-box;
  text-decoration: none;
}
footer .links .socials .icon-instagram {
  color: #FFF;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 11px 13px;
  box-sizing: content-box;
  text-decoration: none;
}

@media (max-width: 1225px) {
  .first_screen .section-header header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    row-gap: 15px;
    grid-template-areas: "logo burger" "nav socials";
  }
  .first_screen .section-header header .logo {
    grid-area: logo;
  }
  .first_screen .section-header header nav {
    display: none;
  }
  .first_screen .section-header header nav.active {
    grid-area: nav;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .first_screen .section-header header nav.active ul li {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    gap: 25px;
  }
  .first_screen .section-header header .socials {
    display: none;
  }
  .first_screen .section-header header .socials.active {
    grid-area: socials;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first_screen .section-header header .burger {
    grid-area: burger;
    justify-self: self-end;
    visibility: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
    padding: 2px;
    box-sizing: content-box;
    width: 30px;
    height: 30px;
  }
  .first_screen .section-header header .burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #FFF;
  }
  .first_screen .first_screen_slider .swiper-wrapper .swiper-slide h2 {
    font-size: 50px;
  }
  .first_screen .first_screen_slider .swiper-wrapper .swiper-slide p {
    font-size: 15px;
  }
  .first_screen .first_screen_slider .swiper-wrapper .swiper-pagination {
    width: 210px;
    height: 10px;
    position: absolute;
    top: 70%;
    left: 46%;
  }
  .first_screen .first_screen_slider .swiper-button-next {
    left: 48%;
  }
  .project .section1 .wrapper-s1 {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .section1 .wrapper-s1 .info-s1 {
    margin-top: 75px;
    margin-left: 0;
  }
  .project .section2 .wrapper-s2 {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .section2 .wrapper-s2 .info-s2 {
    margin-top: 75px;
    margin-right: 0;
  }
}
@media (max-width: 734px) {
  .contact .get-in-touch {
    bottom: -650px;
  }
  .contact .get-in-touch .contacts-wrapper {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .contact .get-in-touch .contacts-wrapper .contacts p {
    text-align: center;
  }
  .contact .get-in-touch .contacts-wrapper form {
    gap: 30px;
  }
  .contact .get-in-touch .contacts-wrapper form label input::-webkit-input-placeholder {
    text-align: center;
  }
  .contact .get-in-touch .contacts-wrapper form label input::-moz-placeholder {
    text-align: center;
  }
  .contact .get-in-touch .contacts-wrapper form label input:-ms-input-placeholder {
    text-align: center;
  }
  .contact .get-in-touch .contacts-wrapper form label input::placeholder {
    text-align: center;
  }
  .contact .get-in-touch .contacts-wrapper form button {
    margin: 0 auto;
  }
  footer .links {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  footer .links .socials {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
}
@media (max-width: 430px) {
  .first_screen .first_screen_slider .swiper-wrapper .swiper-slide h2 {
    font-size: 25px;
    text-align: center;
  }
  .first_screen .first_screen_slider .swiper-wrapper .swiper-slide p {
    font-size: 10px;
    text-align: center;
  }
  .first_screen .first_screen_slider .swiper-button-next {
    left: 45%;
  }
  .news .news-section .slider {
    height: 590px;
  }
  .news .news-section .slider .news-slider-pagination .swiper-pagination-bullet {
    margin-left: 30px;
  }
}