.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

header {
  height: 80px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 352px;
}
header nav ul li a {
  color: #2F281E;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: unset;
}
header nav ul li a:hover {
  color: #FF9900;
}
header .buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 252px;
}
header .buttons .sign_in {
  width: 110px;
  height: 48px;
  padding: 13px 25px;
  color: #2F281E;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: white;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}
header .buttons .sign_up {
  width: 110px;
  height: 48px;
  padding: 13px 25px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: orange;
  border: none;
  border-radius: 4px;
}
header .burger {
  display: none;
}
header .burger span {
  display: block;
  border-bottom: 4px solid gray;
}

main .section_one {
  margin: 100px auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 70px;
}
main .section_one .first_screen {
  width: auto;
  height: 301px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .section_one .first_screen h2 {
  color: #2F281E;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}
main .section_one .first_screen p {
  color: #544837;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
main .section_one .first_screen button {
  width: 180px;
  height: 50px;
  padding: 13px 40px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #FF9900;
  border: unset;
  border-radius: 4px;
}
main .section_two {
  margin: 100px auto;
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/bg.png);
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
main .section_two h3 {
  color: #2F281E;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}
main .section_two .features {
  width: 100%;
  max-width: 1200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}
main .section_two .features div h4 {
  color: #2F281E;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 30px;
}
main .section_two .features div p {
  color: #544837;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-top: 16px;
}
main .section_two button {
  width: 180px;
  height: 50px;
  padding: 13px 40px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #F90;
  border: unset;
  border-radius: 4px;
  margin-bottom: 74px;
}

footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}
footer .links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 130px;
}
footer .links .info h5 {
  color: #2F281E;
  font-family: Gotham;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
}
footer .links .info ul li {
  margin-top: 15px;
}
footer .links .info ul li a {
  color: #544837;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
}
footer .links .terms h5 {
  color: #2F281E;
  font-family: Gotham;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
}
footer .links .terms ul li {
  margin-top: 15px;
}
footer .links .terms ul li a {
  color: #544837;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
}
footer .form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .form h5 {
  color: #2F281E;
  font-family: Gotham;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 25px;
}
footer .form input {
  width: 340px;
  height: 50px;
  padding: 0 10px;
}
footer .form button {
  width: 180px;
  height: 50px;
  padding: 13px 40px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #F90;
  border: unset;
  border-radius: 4px;
  margin-top: 25px;
}

@media (max-width: 960px) {
  footer {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  footer .links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .links h5 {
    text-align: center;
  }
  footer .links ul li {
    text-align: center;
  }
  footer .form {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .form h5 {
    text-align: center;
  }
  footer .form input {
    width: 100%;
  }
}
@media (max-width: 885px) {
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 80px);
    grid-template-areas: "logo burger" "button .";
  }
  header nav ul {
    display: none;
  }
  header img {
    grid-area: logo;
  }
  header .buttons {
    grid-area: button;
    width: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
  }
  header .burger {
    grid-area: burger;
    width: 20px;
    height: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    justify-self: flex-end;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 13px;
  }
  header .burger span {
    display: block;
    border-bottom: 4px solid gray;
  }
  main .section_one {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
    gap: 20px;
  }
  main .section_one .first_screen {
    gap: 20px;
  }
  main .section_one .first_screen h2 {
    text-align: center;
  }
  main .section_one .first_screen p {
    text-align: center;
  }
  main .section_one .first_screen button {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  main .people {
    width: 100%;
  }
  main .section_two .features {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 252px);
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: "mouse cloud" "heart clock";
  }
  main .section_two .features .mouse {
    grid-area: mouse;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .section_two .features .mouse h4 {
    text-align: center;
  }
  main .section_two .features .mouse p {
    text-align: center;
  }
  main .section_two .features .cloud {
    grid-area: cloud;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .section_two .features .cloud h4 {
    text-align: center;
  }
  main .section_two .features .cloud p {
    text-align: center;
  }
  main .section_two .features .heart {
    grid-area: heart;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .section_two .features .heart h4 {
    text-align: center;
  }
  main .section_two .features .heart p {
    text-align: center;
  }
  main .section_two .features .clock {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .section_two .features .clock h4 {
    text-align: center;
  }
  main .section_two .features .clock p {
    text-align: center;
  }
}
@media (max-width: 440px) {
  main .section_two h3 {
    margin-top: 50px;
  }
  main .section_two .features {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}